///
/// Global VARIABLES and HELPERS
///
/// Place global config here like Bootstrap's _variables.scss.
/// This kind of config is often required prior to importing any libraries (ie Bootstrap Sass), and
/// does not produce any CSS, just variables and maps.
///
/// All .scss files NEED TO INCLUDE this file as the top import to ensure consistent settings.
/// Particle does not glob Sass! Because there is no printing CSS output in this file, webpack will
/// safely squash any duplication.
///
/// @example
/// ```scss
/// @import '../../00-protons/variables';
/// ```
/// This guarantees every component is styled with the same presets.
///
// Custom non-printing tools
@import 'non-printing/functions';
@import 'non-printing/colors';
@import 'non-printing/mixins';

// (Other non-printing .scss), ie font families, spacing, etc
$spacing: (
  s: 5px,
  m: 25px,
  l: 50px,
);

// This is a good place to globally override bootstrap variables that aren't
// just overridden in a component later on.

// Bootstrap non-printing tools
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// import anything else non-printing that may depend on variables in this file!
// @import 'non-printing/project-specific-mixins'



//Colors
$gray: #808080;
$gray-light: #f9f9f9;
$gray-light-2: #eee;
$gray-light-3: #ddd;
$gray-med: #666;
$gray-dark: #333;
$gray-dark-2: #131313;
$white: #fff;
$black: #000;
$dim: rgba(0, 0, 0, 0.5);
$error: #f00;
$valid: #089e00;
$warning: #fff664;
$information: #000db5;

//Palette
$p-blue-darker: #113048;
$p-blue-dark: #164264;
$p-blue: #1876be;
$p-blue-light: #0094d6;
$p-blue-lighter: #7ac5ef;
$white: #fff;
$p-gray-lighter: #f4f4f4;
$p-gray-light: #e8e8e8;
$p-gray: #c1c1c1;
$p-gray--dark: #545454;
$p-blue-gray-light: #5189a5;
$p-blue-gray: #506576;
$p-green-light: #70b85d;
$p-green-dark: #267929;

//Page Variables
$splash-title: $p-blue;
$splash-title-shadow: $white;
$splash-body: $p-blue-gray;
$splash-body-shadow: $white;

//Typography
$font: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-secondary: Georgia, Times, "Times New Roman", serif;

$font-size-small: 0.75em;
$font-size-small-2: 0.875em;
$font-size-med: 1em;
$font-size-med-2: 1.0625em;
$font-size-large: 1.4375em;

//Defaults
$space: 1em;
$space-and-half: $space*1.5;
$space-double: $space*2;
$space-quad: $space*4;
$space-half: $space/2;
$pad: 1em;
$pad-and-half: $pad*1.5;
$pad-double: $pad*2;
$pad-half: $pad/2;
$pad-quarter: $pad/4;

//Borders
$border-med: 3px;
$border-thick: 7px;

//Breakpoints
$bp-small: 24em;
$bp-small-2: 29.75em;
$bp-small-3: 39.8em;
$bp-med: 46.8em;
$bp-med-2: 48em;
$bp-large: 50em;
$bp-large-2: 66em;
$bp-xl: 73em;
$bp-xxl: 89em;
$bp-xxxl: 1170px;

//Layout
$page-width: $bp-xxxl;