/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
	display: inline-block;
	background: $gray-dark;
	color: $white;
	line-height: 1;
	font-weight: 400;
	padding: 10px 15px;
	border: 0;
	text-align: center;
	border-radius: 3px;
	
	&:hover, &:focus {
		background: $gray;
		color: $white;
	}

	&.disabled {
		background: $gray-light-2;
		color: $gray;
	}

	&-primary{
		background: lighten($p-blue-dark, 20%);

		&:hover{
			background: $p-blue-dark;
		}
	}

	&-secondary{
		background: $p-blue-light;

		&:hover{
			background: lighten($p-blue-light,5%);
		}
	}

	&-action{
		background: $p-green-light;
		border: 2px solid $white;

		&:hover{
			background: darken($p-green-light,5%);
		}
	}
}

.btn-small {
	padding: $pad-half;
}

.btn-large {
	padding: $pad-half;
	text-transform: uppercase;
	background: $gray;
	font-size: 1.4rem;
	font-weight: normal;
}


.text-btn {
	font-style: italic;
}