/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
	clear: both;
	overflow: hidden;
	background-image: linear-gradient(to bottom, $p-blue-dark 0%,  $p-blue-darker 100%);
	color: $white;
	line-height: 1.2;
	padding: 10px 15px;

	.footer-inner{
		display: flex;
		flex-direction: column;
		@extend .lc;
	}

	a {
		color: $gray-light;
	}

	.lc{
		padding: 0 15px;
	}
}

//Footer Nav
.nav-footer {

	li {
		border-bottom: 1px solid $gray-dark;
		list-style-type: none;
		padding:0;

		@media all and (min-width: $bp-med) {
			border: 0;
			float: left;
		}
	}

	a,span {
		display: block;
		padding: $pad;
		font-size: 13px;
	}
}

.copyright {
	@media all and (min-width: $bp-med) {
		float: right;
	}
}