/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.nav {
	clear: both;
	overflow: hidden;
	max-height: 0;

	&-header{
		display: flex;
		justify-content: flex-end;
	}

	&-footer{
		align-items: center;
		display: flex;

		.company-name{
			font-size: 16px;
			font-weight: bold;
		}
	}

	ul{
		display: flex;
		align-items: center;
		justify-content: space-between;
		list-style-type: none;
		margin-bottom: 0;
	}

	li{
		padding: $pad;
	}
	
	a {
		display: inline-block;
		border-top: 1px solid $gray-light-2;
		font-size: 14px;
		color: darken($p-gray, 30%);

		&.btn-action{
			color: $white;
		}
	}

	&.active {
		max-height: 40em;
	}

	@media all and (min-width: $bp-med) {
		max-height: none;
		float: right;
		clear: none;

		li {
			float: left;
		}

		a {
			border: 0;
		}
		
	}

	&-list{
		.btn-action{
			margin-left: 15px;
		}
	}
}

//Pagination
.pagination {
	overflow: hidden;

	li {
		float: left;
		border-right: 1px solid $gray-light-2;

		&:last-child {
			border: 0;
		}
	}

	a {
		padding: $pad;
	}
}