{% extends '@atoms/grid/_grid-1-up.twig' %}
  {% set container = true %}

  {% block column_1 %}
      <h1>Splash</h1>
      <div class="mb-5">
          {% include '@molecules/_splash.twig' with splash_example %}
      </div>
  {% endblock column_1 %}
