<div class="block block-splash">
    {% include "molecules-block-banner"  with banner only%}

    <div class="block-splash--content col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="splash--intro col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <h4>{{ content.intro }}</h4>
        </div>

        <div class="splash--logo col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {% include "atoms-logo" with content.logo %}
        </div>

        <div class="block-splash--details col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>{{ content.details.header }}</h3>

            <ul class="details--highlights">
               {% for item in content.details.list %}
                <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    {% include "molecules-caption-image" with item only%}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>