<div class="block block-grid block-grid--list">
    {% for item in data %}
        <div class="block-grid col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="grid-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>{{ item.header.html }}</h2>

                <p>{{ item.content.html }}</p>

                <button class="{{ item.button.class }}" >{{ item.button.html }}</button>
            </div>
        </div>
    {% endfor %}
</div>