<div class="image-banner">
    <div class="image-banner--background" style="background-image: url('{{ background.src }}');">

        <div class="image-banner--text col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {% if content is defined %}
                <div class="image-banner--inner">
                    {% include "molecules-block-grid" with content only %}
                </div>
            {% endif %}
        </div>
    </div>
</div>