@import '../../00-protons/variables';

// To change default bootstrap navbar variables,
// copy from ~bootstrap/scss/variables to here

$navbar-brand-font-size: $font-size-lg;

@import "~bootstrap/scss/navbar";

// Add custom code here

.navbar {
  flex-shrink: 0;

  /* Links */
  a {
    color: $p-paragraph;
    text-decoration: none;
    outline: 0;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}


