ol, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li{
	font-size: 14px;
}

/* Definition Lists */
dl {
	overflow: hidden;
	margin: 0 0 $space;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}

.list-item{
	&--block{
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	&--icon{
		margin-bottom: 20px;
	}

	&--content{
		padding:0;
	}
}