@import '../../00-protons/variables';

// To change default bootstrap list-item variables,
// copy from ~bootstrap/scss/variables to here

@import "~bootstrap/scss/list-group";
//@import "~bootstrap/scss/transitions";

// Add custom code here
.list-group{
  border: 2px solid $p-gray;
  margin: 0 0 20px 0;

  &__link{
    font-weight: bold;
    border-top: 1px solid #ddd;
    padding: 10px 10px 0 10px;

    &:first-of-type{
      border: none;
    }
  }

  &__description{
    margin-left: 0;
    padding: 0 10px;
  }
}