@import '../../00-protons/variables';

// To change default bootstrap nav variables,
// copy from ~bootstrap/scss/variables to here

$nav-link-disabled-color: $gray-600;

@import "~bootstrap/scss/nav";

// Add custom code here
.nav{
  clear: both;
  overflow: hidden;
  max-height: 0;

  &--border {
    border-color: $light;
    border-style: solid;
  }

  &-header {
    display: flex;
    justify-content: flex-end;
  }

  &-tabs{
    display: block;
    margin-top: 20px;

    li.nav-item{
      padding: 0 5px;

      .nav-link.active{
        color: $p-blue;
        font-weight: bold;
      }
    }
  }

  &-footer {
    align-items: center;
    display: flex;

    .company-name {
      font-size: 16px;
      font-weight: bold;
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 0;
  }

  li {
    padding: $pad;
    list-style-type: none;
  }

  a {
    display: inline-block;
    border-top: 1px solid $gray-light-2;
    font-size: 14px;
    color: darken($p-gray, 30%);

    &.btn-action {
      color: $white;
    }
  }

  &.active {
    max-height: 40em;
  }

  @media all and (min-width: $bp-med) {
    max-height: none;
    clear: none;

    li {
      float: left;
    }

    a {
      border: 0;
    }

  }

  &-list {
    .btn-action {
      margin-left: 15px;
    }
  }
}

nav{
  li{
    list-style-type: none;
  }
}
