{% if icon is defined %}
    <div class="list-item--icon {{ icon_class }}">
          {% include "atoms-square" with icon %}
    </div>
{% endif %}

<div class="list-item--content {{ content_class }}">
    {% if title is defined %}
         <h3 class="list-item--title">{{ title }}</h3>
    {% endif %}

    {% if body is defined %}
        {{ body }}
    {% endif %}

    {% if caption is defined %}
        {% include "molecules-caption-image" with caption only %}
    {% endif %}
</div>

