//Palette
$p-blue-darker: #113048;
$p-blue-dark: #164264;
$p-blue: #1876be;
$p-blue-light: #0094d6;
$p-blue-lighter: #7ac5ef;
$white: #fff;
$p-gray-light: #e8e8e8;
$p-gray: #c1c1c1;
$p-blue-gray-light: #5189a5;
$p-blue-gray: #506576;
$p-green-light: #70b85d;
$p-green-dark: #267929;


// Custom colors

// Bootstrap overrides
// Add colors to $theme-colors var here. Find other vars to override at ~bootstrap/scss/_variables.scss
// Be sure to add new colors in quotes.
$theme-colors: (
  'test': pink,
  'new': green,
  'primary': #1876be,
  'secondary': $p-blue-dark,
  'highlight': $p-green-light,
  'primary-grey': $p-gray,
  'secondary-grey': $p-gray-light,
);
