@import '../../00-protons/variables';
.header {
  background: transparent;

  &-inner {
    max-width: $page-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 65px;

    .navbar, .nav {

      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      li {
        padding: 0 $pad;
      }

      a, .nav-link {
        color: $p-gray--dark;

        &.btn-action {
          color: $white;
        }
      }

      &.active {
        max-height: 40em;
      }

      @media all and (min-width: $bp-med) {
        max-height: none;
        float: right;
        clear: none;

        li {
          float: left;
        }

        a {
          border: 0;
        }
      }
    }
  }
}

.primary_nav {
  align-items: center;
  display: flex;
  padding: 0;
  justify-content: flex-end;

  .navbar-nav {
    padding-right: 50px;
  }
}
.secondary_nav {
  .nav .nav-item a {
    font-size: 14px;
    padding: 0;
    color: #979797;

    &:hover{
      color: $p-paragraph;
    }
  }
}
.nav-toggle {
  float: right;
  display: block;
  padding: 0.9rem 1rem 0.7rem;
  font-size: 1.3rem;
  line-height: 1;
  border-left: 1px solid #dbdbdb;

  @media all and (min-width: $bp-med) {
    display: none;
  }

  @media all and (max-width: 17em) {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}
.search-form {
  overflow: hidden;
  max-height: 0;

  @media all and (min-width: $bp-med) {
    float: right;
    max-height: none;
    margin: 0.65em 0.5em 0 0;
  }
}