@import '../variables';
// Bootstrap override variables go here.
// See available vars in ~bootstrap/scss/_variables.scss, i.e.
//$font-family-sans-serif
//$font-weight-light
//$h1-font-size
@import '~bootstrap/scss/type';

// Custom type rules here

/* Text-Related Elements */
p {
  margin-bottom: $space;
  color: $p-blue-gray;
  line-height: 1.8em;
}
p, li {
  letter-spacing: 0.04em;
  font-size: 16px;
}
/* Blockquote */
blockquote {
  font-style: italic;
  border-left: 1px solid $gray;
  color: $gray;
  padding-left: $pad;
  margin-bottom: $space;
}
/* Horizontal Rule */
hr {
  border: 0;
  height: 2px;
  background: $gray-light-2;
  margin: $space-double 0;
}
abbr {
  border-bottom: 1px dotted $gray;
  cursor: help;
}
/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .alpha {
  line-height: 1.2;
  color: $p-blue-dark;
}
h2, .beta {
  line-height: 1.2;
  color: $p-blue;
}
h3, .gamma {
  line-height: 1.2;
  color: $p-blue-gray;
}
h4, .delta {
  color: $p-blue-gray;
}
h5, .epsilon {
  color: $gray-med;
}
h6, .zeta {
}
/* Subheadings */
.subheading {
  font-family: $font-secondary;
  font-weight: normal;
}
.heading {
  &-passive {
    font-style: italic;
    line-height: 1.6em;
    color: rgba($p-blue-gray, 0.7);
  }
}
.heading {
  &-passive {
    font-style: italic;
    line-height: 1.6em;
    color: rgba($p-blue-gray, 0.7);
  }
}

