@import '../../00-protons/variables';

.embedded-entity.align-right{
  .grid-simple .block-grid{
    display: flex;

    .grid-content{
      padding-left: 30px;
    }
  }
}
.embedded-entity.align-left{
  .grid-simple .block-grid{
    display: flex;
    flex-direction: row-reverse;

    .image-header--inner .block-grid {
      flex-direction: row;
    }

    .grid-content{
      padding-right: 30px;
    }
  }
}

.embedded-entity.align-center{
  .grid-simple .block-grid{
    display: flex;
    flex-direction: column;
  }
}

.block-grid {
  display: inline-block;
  text-align: center;
  margin-bottom: 25px;

  &.grid-simple{

    .block-grid{
      display: flex;
    }

    img{
      margin: 20px;
      margin-right: 40px;
    }

    .image-header--image{
      padding: 0;

      img{
        margin: 0;
      }
    }

    .image-header--inner{
      padding: 0;
      margin: 15px 0;
      justify-content: baseline;
    }

    p{
      text-align: left;
    }

    .list-items{
      float: none;
      list-style-type: none;
      padding: 0;
      display: flex;

      li{
        padding-right: 10px;

        &:last-of-type{
          padding-right: 0;
        }
      }
    }

    .grid-content--title, .grid-content--subtitle, .list-item--content{
      text-align: left;
    }

    &--centered{
      text-align: center;
    }

    &--media{
      .list-item--content{
        @media (max-width: $bp-small){
          text-align: center;
        }
      }
    }

    .grid-icon{
      display: inline-block;
      vertical-align: top;
    }
  }

  &.grid-stacked {
    .list-items{
      float: none;
      list-style-type: disc;
      display: inline-block;
      padding-left: 15px;

      li{
        text-align: left;
        float: none;
        padding: 0;
      }
    }
  }

  .grid-icon{
    padding-top: 5px;
    margin: 0 auto;

    img{
      margin: 0 auto;
      padding: 0;
    }
  }

  .grid-content--subtitle{
    font-weight: normal;
    margin: 0 auto;
  }

  .grid-content--title{
    font-weight: bold;
    margin: 10px auto;
  }

  .grid-content{
    display: inline-block;
  }

  .list-wrapper{

    img{
      float: none;
    }
  }

  .btn{
    margin-top: 25px;
  }
}