{% extends '@atoms/grid/_grid-1-up.twig' %}
{% set container = true %}
{% block column_1 %}
    <div class="mb-3">
        <h1>List Items</h1>
        {% embed '@atoms/grid/_grid-3-up.twig' %}
            {% block column_1 %}
                   {% include '@molecules/list-item/_list-item.twig' with plain_list %}
            {% endblock column_1 %}

            {% block column_2 %}
                  {% include '@molecules/list-item/_list-item.twig' with title_list %}
            {% endblock column_2 %}

            {% block column_3 %}
                  {% include '@molecules/list-item/_list-item.twig' with caption_list %}
            {% endblock column_3 %}
        {% endembed %}
    </div>
{% endblock column_1 %}