@import '../../00-protons/variables';

// To change default bootstrap card variables, 
// copy from ~bootstrap/scss/variables to here

$btn-border-radius: 0.25rem;
@import "~bootstrap/scss/buttons";

// Add custom code here

.btn, button, .button, %button {
  border-radius: 5px;
  background-color: $p-gray-lighter;
  color: darken($p-blue-gray, 5%);
  display: inline-block;
  border: 2px solid $p-gray;
  padding: 8px 25px;

  &:hover{
    cursor: pointer;
  }
}

.btn{
  &-primary{
    color: $white;
    background-color: $p-blue;
    border-color: $p-blue;

    &.btn-outline{
      background-color: $white;
      color: $p-blue;
      border: 2px solid $p-blue-dark;

      &:hover{
        border-color: lighten($p-blue, 25%);
        cursor: pointer;
      }
    }
  }

  &-highlight{
    color: $white;
    background-color: $p-green-light;
    border-color: darken($p-green-light, 15%);

    &.btn-outline{
      color: $p-green-light;
      border-color: $p-green-light;
      background-color: $white;

      &:hover{
        color: $white;
        background-color: $p-green-light;
        cursor: pointer;
      }
    }
  }

  &-outline-highlight{
    color: $p-green-light;
    border-color: $p-green-light;
    background-color: $white;

    &:hover{
      color: $white;
    }
  }
}

.dropbutton-widget{
  @extend %button;

  .dropbutton-action{
    padding: 0;
  }
}

input.button{
  margin: 10px 0;
}