@import '../../00-protons/variables';

// To change default bootstrap card variables, 
// copy from ~bootstrap/scss/variables to here

$btn-border-radius: 0.25rem;
@import "~bootstrap/scss/buttons";

// Add custom code here

.btn, button, .button, %button {
  border-radius: 3px;
  background-color: $p-gray-lighter;
  color: darken($p-blue-gray, 5%);
  display: inline-block;
  border: 2px solid $p-gray;
  padding: 5px 10px;

  &:hover{
    cursor: pointer;
  }
}

.btn{
  &-primary{
    color: $white;
    background-color: $p-blue;
    border-color: $p-blue;
  }

  &-highlight{
    color: $white;
    background-color: $p-green-light;
    border-color: darken($p-green-light, 15%);
  }

  &-outline-highlight{
    color: $p-green-light;
    border-color: $p-green-light;
    background-color: transparent;

    &:hover{
      color: $white;
    }
  }
}

.dropbutton-widget{
  @extend %button;

  .dropbutton-action{
    padding: 0;
  }
}

input.button{
  margin: 10px 0;
}