{% extends '@templates/site-container.twig' %}
  {% block content %}
      {% if content.splash_block %}
            {% include "@molecules/splash/_splash.twig" with content.splash_block %}
      {% endif %}


      <div class="intro_section">
      {% if content.intro_block %}
              {% include "@molecules/topic/_topic.twig" with content.intro_block only %}
      {% endif %}
      </div>

  {% endblock %}