{% extends '@templates/site-container.twig' %}
  {% block content %}
      {% if content.splash_block %}
            {% include "@molecules/splash/_splash.twig" with content.splash_block %}
      {% endif %}

      {% if content.background_banner %}
          <div id="background" class="mb-3">
              {% embed '@atoms/grid/_grid-1-up.twig' %}
                  {% block column_1 %}
                      {% include "@molecules/banner/_banner.twig" with content.background_banner %}
                      <div class="page-width">
                          {% include "@molecules/topic/_topic.twig" with content.background_block_1 %}
                          {% include "@molecules/topic/_topic.twig" with content.background_block_2 %}
                      </div>
                  {% endblock column_1 %}
              {% endembed %}
          </div>
      {% endif %}

      {% if content.features_banner %}
          <div id="features" class="mb-3">
              {% embed '@atoms/grid/_grid-1-up.twig' %}
                  {% block column_1 %}
                      {% include "@molecules/banner/_banner.twig" with content.features_banner  %}

                      <div class="page-width">
                          {% include "@molecules/header-image/_header-image.twig" with content.features_header_image  %}

                          {% embed '@atoms/grid/_grid-2-up.twig' %}
                              {% block column_1 %}
                                 {% include "@molecules/topic/_topic.twig" with content.features_block_1  %}
                              {% endblock column_1 %}

                              {% block column_2 %}
                                 {% include "@molecules/topic/_topic.twig" with content.features_block_2  %}
                              {% endblock column_2 %}
                          {% endembed %}

                          {% embed '@atoms/grid/_grid-2-up.twig' %}
                              {% block column_1 %}
                                  {% include "@molecules/topic/_topic.twig" with content.features_block_3  %}
                              {% endblock column_1 %}

                              {% block column_2 %}
                                  {% include "@molecules/topic/_topic.twig" with content.features_block_4  %}
                              {% endblock column_2 %}
                          {% endembed %}

                          {% include "@molecules/header-image/_header-image.twig" with content.features_header_image_2  %}

                          {% embed '@atoms/grid/_grid-2-up.twig' %}
                              {% block column_1 %}
                                  {% include "@molecules/topic/_topic.twig" with content.features_block_5  %}
                              {% endblock column_1 %}

                              {% block column_2 %}
                                  {% include "@molecules/topic/_topic.twig" with content.features_block_6  %}
                              {% endblock column_2 %}
                          {% endembed %}

                          {% embed '@atoms/grid/_grid-2-up.twig' %}
                              {% block column_1 %}
                                  {% include "@molecules/topic/_topic.twig" with content.features_block_7  %}
                              {% endblock column_1 %}

                              {% block column_2 %}
                                  {% include "@molecules/topic/_topic.twig" with content.features_block_8  %}
                              {% endblock column_2 %}
                          {% endembed %}

                          {% include "@molecules/header-image/_header-image.twig" with content.features_header_image_3  %}

                          {% embed '@atoms/grid/_grid-1-up.twig' %}
                              {% block column_1 %}
                                  {% include "@molecules/topic/_topic.twig" with content.features_block_9  %}
                              {% endblock column_1 %}
                          {% endembed %}
                      </div>
                  {% endblock column_1 %}
              {% endembed %}
          </div>
      {% endif %}


      {% if content.how_banner %}
          <div id="works" class="mb-3">
              {% embed '@atoms/grid/_grid-1-up.twig' %}
                  {% block column_1 %}
                      {% include "@molecules/banner/_banner.twig" with content.how_banner  %}
                  {% endblock column_1 %}
              {% endembed %}
              <div class="page-width">
                  {% embed '@atoms/grid/_grid-3-up.twig' %}
                      {% block column_1 %}
                          {% include "@molecules/topic/_topic.twig" with content.how_block_1  %}
                      {% endblock column_1 %}

                      {% block column_2 %}
                          {% include "@molecules/topic/_topic.twig" with content.how_block_2  %}
                      {% endblock column_2 %}

                      {% block column_3 %}
                          {% include "@molecules/topic/_topic.twig" with content.how_block_3  %}
                      {% endblock column_3 %}
                  {% endembed %}

                  {% embed '@atoms/grid/_grid-1-up.twig' %}
                      {% block column_1 %}
                          {% include "@molecules/topic/_topic.twig" with content.how_block_4  %}
                      {% endblock column_1 %}
                  {% endembed %}
              </div>
          </div>
      {% endif %}

      {% if content.training_banner %}
          <div id="support" class="mb-3">
              {% embed '@atoms/grid/_grid-1-up.twig' %}
                  {% block column_1 %}
                      {% include "@molecules/banner/_banner.twig" with content.training_banner  %}
                  {% endblock column_1 %}
              {% endembed %}
              <div class="page-width">
                  {% embed '@atoms/grid/_grid-2-up.twig' %}
                      {% block column_1 %}
                          {% include "@molecules/topic/_topic.twig" with content.training_block_1  %}
                      {% endblock column_1 %}

                      {% block column_2 %}
                          {#{% include "@atoms/image/_image.twig"  %}#}
                      {% endblock column_2 %}
                  {% endembed %}
              </div>
              <div class="page-width">
                  {% embed '@atoms/grid/_grid-1-up.twig' %}
                      {% block column_1 %}
                          {% include "@molecules/topic/_topic.twig" with content.training_block_2  %}
                      {% endblock column_1 %}
                  {% endembed %}
              </div>
              <div class="page-width">
                  {% embed '@atoms/grid/_grid-2-up.twig' %}
                      {% block column_1 %}
                          {% include "@molecules/topic/_topic.twig" with content.training_block_3  %}
                      {% endblock column_1 %}
                  {% endembed %}
              </div>
          </div>
      {% endif %}

      {% if content.pricing_banner %}
          <div id="pricing" class="mb-3">
              {% embed '@atoms/grid/_grid-1-up.twig' %}
                  {% block column_1 %}
                      {% include "@molecules/banner/_banner.twig" with content.pricing_banner  %}
                  {% endblock column_1 %}
              {% endembed %}

              <div class="page-width">
                  {% embed '@atoms/grid/_grid-3-up.twig' %}
                      {% block column_1 %}
                          {% include "@molecules/topic/_topic.twig" with content.pricing_block_1  %}
                      {% endblock column_1 %}

                      {% block column_2 %}
                          {% include "@molecules/topic/_topic.twig" with content.pricing_block_2  %}
                      {% endblock column_2 %}

                      {% block column_3 %}
                          {% include "@molecules/topic/_topic.twig" with content.pricing_block_3  %}
                      {% endblock column_3 %}
                  {% endembed %}
              </div>
         </div>

      {% endif %}

                  {% embed '@templates/_basic-page.twig' %}
    {% endembed %}
  {% endblock %}