<div class="banner col-12">
    <div class="banner--inner banner--background" >
        {% block img %}
            {% if img %}
                <div class="banner-image">
                    {% include "@atoms/_image.twig" with img %}
                </div>
            {% endif %}
        {% endblock %}
        {% if content %}
            <div class="banner--text col-12">
                  {% include "@molecules/_topic.twig" with content %}
            </div>
        {% endif %}
    </div>
</div>
