@import '../../00-protons/variables';
@import '../../00-protons/layout';
@import '../../00-protons/global-classes';
@import '../../01-atoms/image/_image.scss';

.banner-external, .banner-internal{

  .grid-icon{
    padding-top: 5px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    img{
      position: relative;
      width: 100%;
      height: auto;
    }
  }

  .grid-content{
    @extend %lw;
    margin: 0 auto;
  }

  ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;

    li{
      width: 30%;
      padding: 0 15px;
    }
  }
}

.banner-internal{
  .block-banner--inner{
    display: inline-block;
  }
}

.block-banner {
  display: inline-block;
  padding: 0;
  margin-bottom: 40px;


  &--inner {
    padding: 0;
  }

  &--background {
    position: relative;
    overflow: hidden;
    min-height: 200px;
    display: flex;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:after {
      content: '';
      background-image: linear-gradient(to right, rgb(245, 245, 245) 0%, #fffffff0 50%, rgba(255, 255, 255, 0.31) 100%);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      z-index: -1;
    }
  }

  &--text {
    @extend %lw;
    margin: 0 auto;
    padding: 0 15px;
    z-index: 5;

    .image-header{
      &--inner{
        justify-content: baseline;
        padding: 0;
      }

      &--title{
        font-size: 24px;
      }
    }

    .block-grid {
      text-align: left;
      margin: 0;
      padding: 0;

      .grid-content--title {
        color: $p-blue-dark;
        font-weight: bold;
        font-size: 34px;
      }

      .grid-content--body {
        color: $p-blue-light;
        line-height: 1.6em;
        font-size: 20px;
        text-shadow: 2px 2px 2px $white;
      }

      .list-wrapper li {
        list-style-type: none;
        display: inline-block;
        float: left;
      }

      .list-item--icon {
        margin: 0;

        img {
          @extend %image-small;
        }
      }

      .list-item--content {
        padding: 0 15px;
      }

      .image-caption {
        text-align: center;

        img {
          @extend %image-small;
        }
      }
    }
  }

  .grid-content{
    text-align: left;
  }

  .block.block-grid {
    display: inline-block;
    width: 100%;
    max-width: 1170px;
    text-align: left;
    margin: 0 auto;
    padding: 20px 15px;
  }
}