@import '../../00-protons/variables';
@import '../../00-protons/layout';
@import '../../00-protons/global-classes';
@import '../../01-atoms/image/_image.scss';
.banner {
  display: inline-block;
  padding: 0;
  margin: 40px 0;

  &.banner-external, &.banner-internal {

    .topic-image {
      padding-top: 5px;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;

      img {
        position: relative;
        width: 100%;
        height: auto;
        max-width: none;
        margin: 0;
      }
    }

    .topic-content {
      @extend %lw;
    }

    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-between;
      padding: 0;

      li {
        width: 30%;
        padding: 0 15px;
      }
    }
  }

  &--inner {
    padding: 0;
    display: inline-block;
  }

  &--background {
    position: relative;
    overflow: hidden;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:after {
      content: '';
      background-image: linear-gradient(to right, rgb(245, 245, 245) 0%, #fffffff0 50%, rgba(255, 255, 255, 0.31) 100%);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      z-index: -1;
    }

    .banner-image {
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;

      img {
        width: 100%;
        display: block;
        height: auto;
      }
    }
  }

  &--text {
    @extend %lw;
    padding: 0;
  }

  .image-header {
    &--inner {
      justify-content: baseline;
      padding: 0;
    }

    &--title {
      font-size: 24px;
    }

    .head_section{
      justify-content: flex-start;
    }
  }

  .topic {
    display: inline-block;
    width: 100%;
    max-width: 1170px;
    text-align: left;
    padding: 20px 0;
    margin: 0;
  }

  .list-wrapper li {
    list-style-type: none;
    display: inline-block;
    float: left;
  }

  .list-item--icon {
    margin: 0;

    img {
      @extend %image-small;
    }
  }

  .list-item--content {
    padding: 0 15px;
  }

  .image-caption {
    text-align: center;

    img {
      @extend %image-small;
    }
  }


}