<div class="banner col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="banner--inner banner--background" >
        {% block img %}
        {% if img %}
            <div class="banner-image">
                {% include "@atoms/_image.twig" with img %}
            </div>
        {% endif %}
        {% endblock %}
        {% if content %}
            <div class="banner--text col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  {% include "@molecules/topic/_topic.twig" with content %}
            </div>
        {% endif %}
    </div>
</div>
