@import '../../00-protons/variables';
@import '../../00-protons/layout';
@import '../../00-protons/global-classes';

.image-header{
  display: inline-block;
  padding: 0;

  &--inner {
    display: block;
    margin: 30px auto;
    @extend %lw;
  }

  .head_section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;

    img{
      margin: 0 auto;
      max-height: 75px;
      width: auto;
    }

    .image-header--title{
      color: $p-gray--dark;
      padding-left: 15px;
    }
  }
}