<div class="image-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="image-header--inner col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {% block header %}
            {% if header %}
            <div class="image-header--image {{  header.img_class }}">
                {% include "@atoms/image-logo/_image-logo.twig" with header %}
            </div>
            {% endif %}
        {% endblock %}

        {% block content %}
            {% if content %}
                <div class="image-header--content">
                    <h3 class="image-header--title">{{ title }}</h3>
                    <p>{{ body }}</p>
                </div>
            {% endif %}
        {% endblock %}
    </div>
</div>