@import '../../00-protons/variables';

.image-header{
  display: inline-block;

  &--inner .block-grid {
    display: flex;
    align-items: center;
    margin: 0;
    float: none;
    justify-content: center;
  }

  &--title{
    color: $gray-med;
  }

  &--image{
    margin-right: 30px;
  }

  img{
    margin: 0 auto;
    max-height: 75px;
    width: auto;
  }
}