@import '../../00-protons/variables';
@import '../../00-protons/layout';
@import '../../00-protons/global-classes';

.image-header{
  display: inline-block;

  &--inner {
    display: flex;
    align-items: center;
    @extend %lw;
    margin: 30px auto;
    float: none;
    justify-content: center;
  }

  &--inner .topic {
    display: flex;
    align-items: center;
    margin: 0;
    float: none;
    justify-content: center;
  }

  &--content {
    padding-left: 40px;

    h2{
      color: $gray-med;
    }
  }

  .topic .topic-content {
    padding-left: 10px;
  }

  &--image{
    margin-right: 30px;
  }

  img{
    margin: 0 auto;
    max-height: 75px;
    width: auto;
  }
}