{% extends '@atoms/grid/_grid-1-up.twig' %}
{% set container = true %}

{% block column_1 %}
  <h1>Topics</h1>

    <div class="mb-3 ">
        {% embed '@atoms/grid/_grid-1-up.twig' %}
            {% block column_1 %}
                {% include '@molecules/topic/_topic.twig' with teaser_highlights %}
            {% endblock column_1 %}
        {% endembed %}
    </div>
  <div class="mb-3 ">
      {% embed '@atoms/grid/_grid-1-up.twig' %}
          {% block column_1 %}
              {% include '@molecules/topic/_topic.twig' with call_to_action %}
          {% endblock column_1 %}
      {% endembed %}
  </div>
  <div class="mb-3 ">
      {% embed '@atoms/grid/_grid-2-up.twig' %}
          {% block column_1 %}
              {% include '@molecules/topic/_topic.twig' with descriptive_block %}
          {% endblock column_1 %}

          {% block column_2 %}
              {% include '@molecules/topic/_topic.twig' with simple_highlights %}
          {% endblock column_2 %}
      {% endembed %}
  </div>
    <div class="mb-3 ">
        {% embed '@atoms/grid/_grid-1-up.twig' %}
            {% block column_1 %}
                {% include '@molecules/topic/_topic.twig' with simple_highlights %}
            {% endblock column_1 %}

        {% endembed %}
    </div>
    <div class="mb-3 ">
        {% embed '@atoms/grid/_grid-1-up.twig' %}
            {% block column_1 %}
                {% include '@molecules/topic/_topic.twig' with simple_grid_body %}
            {% endblock column_1 %}
        {% endembed %}
    </div>

    <div class="mb-3 ">
        {% embed '@atoms/grid/_grid-1-up.twig' %}
            {% block column_1 %}
                {% include '@molecules/topic/_topic.twig' with simple_captions %}
            {% endblock column_1 %}
        {% endembed %}
    </div>

    <div class="mb-3 ">
        {% embed '@atoms/grid/_grid-1-up.twig' %}
            {% block column_1 %}
                {% include '@molecules/topic/_topic.twig' with simple_captions_body %}
            {% endblock column_1 %}
        {% endembed %}
    </div>

  <div class="mb-3 ">
      {% embed '@atoms/grid/_grid-1-up.twig' %}
          {% block column_1 %}
              {% include '@molecules/topic/_topic.twig' with simple_header_image %}
          {% endblock column_1 %}
      {% endembed %}
  </div>

{% endblock column_1 %}
