{#
/**
 * @file
 * footer
 *
 * Available variables for footer:
 *    - footer.variable_name [variable_type]: Description of the variable. Example below.
 *    - footer.slogan [String]: Site footer slogan seen on most pages.
 */
#}

<footer class="footer col-lg-12 col-md-12 col-sm-12 col-xs-12" role="contentinfo">
  {% block footer %}
    <div class="footer-inner">
        {% block footer_nav %}
            {% if footer_nav %}
                <nav class="nav-footer col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% include "@organisms/_navbar-footer.twig" with footer_nav %}
                </nav>
             {% endif %}
        {% endblock footer_nav %}

        {% block footer_copyright %}
            {% if footer_copyright %}
              <nav class="nav-footer">
                  {% include "@organisms/_navbar-footer.twig" with footer_copyright  %}
              </nav>
            {% endif %}
        {% endblock footer_copyright %}
    </div>
  {% endblock footer %}
</footer>