// All component Sass needs non-printing base config
@import '../../00-protons/variables';
@import '../../00-protons/layout';
@import '../../00-protons/global-classes';

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
  clear: both;
  overflow: hidden;
  background-image: linear-gradient(to bottom, $p-blue-dark 0%, $p-blue-darker 100%);
  color: $white;
  line-height: 1.2;
  max-height: 150px;
  padding: 10px 15px;

  .footer-inner {
    display: flex;
    flex-direction: column;
    @extend %lw;
  }

  .navbar, .nav{
    a.nav-link {
      color: $gray-light;
      font-size: 13px;

      &:hover, &:focus{
        color: $white;
        cursor: pointer;
      }
    }
  }

  .lc {
    padding: 0 15px;
  }
}
//Footer Nav
.nav-footer {
  padding: 0;

  &.nav-primary{
    li:first-of-type{
      font-size: 20px;
    }
  }

  li {
    border-bottom: 1px solid $gray-dark;
    list-style-type: none;
    padding: 0;

    @media all and (min-width: $bp-med) {
      border: 0;
      float: left;
    }
  }

  .copyright {
    color: $white;
    padding: 0;
    padding-right: 20px;
  }

  .navbar-brand {
    font-size: 18px;
    color: $white;
    padding: 20px 20px 20px 0;
  }

  a, span {
    display: block;
    padding: $pad;
    font-size: 13px;
  }
}
.copyright {
  @media all and (min-width: $bp-med) {
    float: right;
  }
}