<a href="#nav" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>

<nav id="nav" class="nav nav-header">
	<ul class="nav-list">
        {% for item in menu_items %}
            <li><a href="{{ item.href }}" class="{{ item.class }}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
</nav><!--end .nav-->
