<nav id="nav" class="nav nav-header">
	<ul class="nav-list">
		<li><a href="{{ url }}">Features</a></li>
		<li><a href="{{ url }}">How it Works</a></li>
		<li><a href="{{ url }}">Support</a></li>
		<li><a href="{{ url }}">Pricing</a></li>
        <li><button class="btn btn-action">Try it for Free!</button></li>
	</ul>

</nav><!--end .nav-->
