@import '../../00-protons/variables';
@import '../../00-protons/layout';
@import '../../00-protons/global-classes';

.splash {
  display: flex;
  flex-direction: column;

  &--banner {
    margin: 0;
    padding: 0;

    .banner--background {
      min-height: 500px;
      display: block;
      position: relative;

      @media(max-width: $bp-med) {
        background-position: right -150px;
        background-size: auto;
        min-height: 100vh;
      }

      &:after {
        content: '';
        background-image: linear-gradient(to top right, rgba(#becede, 0.2) 0%, rgba($white, 0.3) 30%, transparent 100%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-bottom: 2px solid #c8def1;
        height: 100%;

        @media(max-width: $bp-med) {
          background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 0%, rgb(255, 255, 255) 30%, transparent 100%);
        }
      }

      .grid-icon{
        position: absolute;
        top: -150px;
        left: 0;
        right: 0;
        z-index: -1;

        img{
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }

    .banner--text {
      @extend %lw;
      padding: 0 15px;

      @media(max-width: $bp-med) {
        top: 360px;
        background-color: #fff;
        padding-bottom: 20px;
        display: inline-block;
      }

      .topic {

        .topic-content {
          padding-top: 60px;
          text-align: left;

          &--title {
            color: $splash-title;
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 30px;
            text-shadow: 2px 2px 2px $splash-title-shadow;
          }

          &--body {
            color: $splash-body;
            font-size: 24px;
            text-shadow: 2px 2px 2px $splash-body-shadow;
          }
        }
      }
    }
  }

  &--content {
    text-align: center;
    padding: 0 15px;
    @extend %lc;

    .splash--intro {
      margin: 0 auto;
      float: none;

      h4 {
        font-size: 22px;
      }
    }

    .splash--logo {

      .image-header--inner {
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 45px auto;
      }

      .image-header--content {
        padding-top: 10px;
      }
    }

    &-details {
      margin: 0 auto;
      float: none;
      display: inline-block;

      &-title {
        color: $p-blue-light;
        float: none;
        margin: 0 auto;
      }
    }

    &-highlights {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 30px;

      li {
        display: flex;
        flex-direction: column;
      }
    }
  }
}