<div class="block block-splash">
    {% if banner %}
        <div class="block-splash--banner col-lg-12 col-md-12 col-sm-12 col-xs-12">
             {% include "@molecules/_banner.twig" with banner %}
        </div>
    {% endif %}

    <div class="block-splash--content col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="splash--intro col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h4 class="heading-passive">{{ splash_content.intro }}</h4>
        </div>

        {% if splash_content.header_image %}
            <div class="splash--logo col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {% include "@molecules/_header-image.twig" with splash_content.header_image %}
            </div>
        {% endif %}

        {% if splash_content.details %}
            <div class="block-splash--details row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="block-splash--details-title col-lg-6 col-md-6 col-sm-6 col-sm-6 col-xs-12">{{ splash_content.details.header }}</h3>

                <div class="details--highlights row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% include "@molecules/_block-grid.twig" with splash_content.details %}
                </div>
            </div>
        {% endif %}
    </div>
</div>