<div class="splash">
    {% if banner %}
        <div class="splash--banner col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {% include "@molecules/banner/_banner.twig" with banner only  %}

            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="splash--content">
                            {% embed "@molecules/topic/_topic.twig" with topic %}
                                {% block title %}
                                    {% if title %}
                                        <h1 class="topic-title display-3">{{ title }}</h1>
                                    {% endif %}
                                {% endblock %}

                                {% block subtitle %}
                                    {% if subtitle %}
                                        <h2 class="topic-content--subtitle delta">{{ subtitle }}</h2>
                                    {% endif %}
                                {% endblock %}
                            {% endembed %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="splash--graphic">
                            {% include '@atoms/_image.twig' with img %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    {% endif %}
</div>