<div class="block block-splash">
    <div class="block-splash--content col-lg-12 col-md-12 col-sm-12 col-xs-12">
         {% include "@molecules/_banner.twig"  with banner only%}
        CATS
    </div>

    <div class="block-splash--content col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="splash--intro row col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <h4 class="heading-passive">{{ content.intro }}</h4>
        </div>

        <div class="splash--logo row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {% include "@molecules/_header-image.twig" with content.logo only %}
        </div>

        <div class="block-splash--details row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="block-splash--details-title row  col-lg-8 col-md-8 col-sm-8 col-sm-8 col-xs-12">{{ content.details.header }}</h3>

            <ul class="details--highlights row col-lg-12 col-md-12 col-sm-12 col-xs-12">
               {% for item in content.details.list %}
                <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    {% include "molecules-caption-image" with item only%}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>