@import '../../00-protons/variables';
@import '../../00-protons/layout';
@import '../../00-protons/global-classes';

.splash {
  display: flex;
  flex-direction: column;

  &--banner {
    padding: 0;

    .banner{
      margin: 0;
    }

    .banner--background {
      position: absolute;
      left: 0;
      right: 0;
      top: -100px;
      min-height: 100vh;
      z-index: -1;

      &:after {
        content: '';
        background-image: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;

        @media(max-width: $bp-large) {
          background-image: none;
        }
      }
    }

    .topic{
      padding: 0;
    }

    .topic-image{
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;

      img{
        width: 100%;
        height: auto;
        display: block;
        max-width: none;
      }
    }

    .topic-content--subtitle{
      margin-top: 25px;
    }
  }

  &--graphic{
    margin-top: -30px;
  }
}