<div class="page" id="page">
    {% include "organisms-header" %}
    {% block splash %}{% endblock %}

    {% block title %}{% endblock %}
    {% block content %}{% endblock %}
    {% include "organisms-footer" %}
</div>