<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #164264;"></span>
		<span class="sg-label">#164264</span>
	</li>
	<li>
		<span class="sg-swatch"></span>
		<span class="sg-label">#0094D6</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #fff;"></span>
		<span class="sg-label">#fff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E8E8E8;"></span>
		<span class="sg-label">#E8E8E8</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #C1C1C1;"></span>
		<span class="sg-label">#C1C1C1</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #70B85D;"></span>
		<span class="sg-label">#70B85D</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #267929;"></span>
		<span class="sg-label">#267929</span>
	</li>
</ul>