{% extends "templates-page-1col" %}


{% block content %}
        {% if content_block is defined %}

            {% include "molecules-block-splash" with content_block.splash_block only %}

            <div id="background" class="content_block">
                {% include "molecules-block-banner" with content_block.banner_background %}

                {% include "molecules-block-grid" with content_block.block_background %}
            </div>

            <div id="features" class="content_block">
                {% include "molecules-block-banner" with content_block.banner_features %}
                {% include "molecules-header-image" with content_block.header_features %}
                {% include "molecules-block-grid" with content_block.block_features %}
            </div>

            <div id="works" class="content_block">
                {% include "molecules-block-banner" with content_block.banner_works%}

                {% include "molecules-block-grid" with content_block.block_works %}
            </div>

            <div id="support" class="content_block">
                {% include "molecules-block-banner" with content_block.banner_support%}

                {% include "molecules-block-grid"  with content_block.block_support %}
            </div>

            <div id="pricing" class="content_block">
                {% include "molecules-block-banner" with content_block.banner_pricing%}

                {% include "molecules-block-grid"  with content_block.block_pricing %}
            </div>

        {% endif %}
{% endblock %}

{% block sidebar %}
    {% include "organisms-recent-tweets" %}
{% endblock %}
