@import '../../00-protons/variables';
@import '../../00-protons/layout';
@import '../../00-protons/global-classes';

.embedded-entity.align-right{
  margin-left: auto;
  padding-left: 30px;
  order: 2;
}

.embedded-entity.align-left{
  margin-right: auto;
  padding-right: 30px;
}

.embedded-entity.align-center{
  .topic:not(.call-to-action) {
    display: flex;
    flex-direction: row;
  }
}

.topic {
  display: inline-block;
  text-align: left;

  &.call-to-action{
    display: flex;
    flex-direction: column;
    text-align: center;

    .topic-image{
      padding-top: 5px;
      margin: 0 auto;

      img{
        margin: 0 auto;
        padding: 0;
        height: auto;
        max-height: 200px;
        width: auto;
      }
    }

    .topic-content{
      padding: 0;
      display: inline-block;
      text-align: center;

      &--title{
        font-weight: bold;
        margin: 10px auto;
      }

      &--subtitle{
        font-weight: normal;
        margin: 0 auto;
      }

      &--body{
        p{
          text-align: center;
        }
      }

      .topic-content--caption-images{
        display: flex;

        .image-caption{
          padding: 0 15px;
        }
      }
    }

    ul li{
      text-align: left;
    }

    .list-wrapper{

      img{
        float: none;
      }
    }

    .btn{
      margin-top: 25px;
    }
  }

  .topic-head{
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;

    .topic-image{
      display: inline-block;
      vertical-align: top;

      img{
        max-width: 150px;
        height: auto;
        padding: 0;
      }
    }
  }

  .topic-content{
    padding: 0 15px;
  }
}