<div class="container">
    <div class="row">
        <div class="col-12">
            {% block topic %}
                <div class="topic d-flex align-items-top">

                    {% block topic_image %}
                        {% if topic_image is not empty %}
                            <div class="topic-image p-2">
                                {% include "@atoms/_image.twig" with topic_image %}
                            </div>
                        {% endif %}
                    {% endblock %}


                    <div class="topic-content p-2">
                        {% block title %}
                            {% if title is defined %}
                                <h3 class="topic-title">{{ title }}</h3>
                            {% endif %}
                        {% endblock %}

                        {% block subtitle %}
                            {% if subtitle %}
                                <h4 class="topic-content--subtitle">{{ subtitle }}</h4>
                            {% endif %}
                        {% endblock %}

                        {% if header_image %}
                            <div class="topic-content--header-image">
                                {% include "@molecules/header-image/_header-image.twig" with header_image %}
                            </div>
                        {% endif %}

                        {% if body %}
                            <div class="topic-content--body"><p>{{ body }}</p></div>
                        {% endif %}

                        {% if caption_images %}
                            <div class="topic-content--caption-images row">
                                {% for item in caption_images %}
                                    <div class="col">
                                        {% include "@molecules/caption-image/_caption-image.twig" with item %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}


                        {% if button %}
                            {% include "@atoms/button/_button.twig" with button %}
                        {% endif %}
                    </div>
                </div>
            {% endblock topic %}
        </div>
    </div>
</div>