{% block topic %}
    <div class="topic {{ class }}">
        {% block topic_head %}
            {% if topic_head %}
                <div class="topic-image">
                    {% include "@atoms/_image.twig"  with topic_head  %}
                </div>
            {% endif %}
        {% endblock topic_head %}

        {% block content %}
            <div class="topic-content">
                 {% block title %}
                    {% if title %}
                        <h2 class="topic-content--title">{{ title }}</h2>
                    {% endif %}
                {% endblock %}

                {% block subtitle %}
                    {% if subtitle %}
                        <h4 class="topic-content--subtitle">{{ subtitle }}</h4>
                    {% endif %}
                {% endblock %}

                {% if header_image %}
                    <div class="topic-content--header-image">
                        {% include "@molecules/header-image/_header-image.twig" with header_image  %}
                    </div>
                {% endif %}

                {% if body %}
                    <div class="topic-content--body"><p>{{ body }}</p></div>
                {% endif %}

                {% if caption_images %}
                    <div class="topic-content--caption-images">
                        {% for item in caption_images %}
                        {% include "@molecules/caption-image/_caption-image.twig" with item  %}
                         {% endfor %}
                    </div>
                {% endif %}


                {% if list %}
                    {% include "@molecules/list-item/_list-item.twig" with list  %}
                {% endif %}

                {% if button %}
                    {% include "@atoms/button/_button.twig" with button %}
                {% endif %}
            </div>
        {% endblock content %}
    </div>
{% endblock topic %}