<div class="image-caption">
    <div class="image-caption--inner">
        {% block block_image %}
            {% if block_image %}
                <div class="caption-image">
                    {% include "@atoms/image/_image.twig" with block_image %}
                </div>
            {% endif %}
        {% endblock %}

        <div class="caption">{{ caption_body }}</div>
    </div>
</div>




