<div class="image-caption">
    <div class="image-caption--inner">
        {% block block_image %}
            {% if block_image %}
                <div class="caption-image">
                    {% include "@atoms/image/_image.twig" with block_image %}
                </div>
            {% endif %}
        {% endblock %}

        {% block caption_body %}
            <div class="caption">
                <p>{{ caption_body }}</p>
            </div>
        {% endblock %}
    </div>
</div>




