@import '../../00-protons/variables';

.image-caption{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  img{
    margin: 10px auto;
    width: auto;
    height: 100px;
  }

  .caption{
    line-height: 1.4em;
    color: darken($p-gray, 30%);
    text-align: center;
  }
}
