@import '../../00-protons/variables';

.image-caption{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  .topic{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  img{
    margin: 10px auto;
    width: auto;
    display: block;
    height: 100px;
  }
  .caption {
    line-height: 1.4em;
    color: darken($p-gray, 30%);
  }

  .topic-content{
    padding: 0;
  }

  .topic-content--body p{
    line-height: 1.4em;
    color: darken($p-gray, 30%);
    text-align: center;
  }
}
