<figure class="image-caption">
    <div class="image-caption--inner">
        {% block block_image %}
            {% if block_image %}
                {% include "@atoms/_image.twig" with block_image %}
            {% endif %}
        {% endblock %}

        {% if body %}
            <p class="caption">{{ body }}</p>
        {% endif %}
    </div>
</figure>