@import '../../00-protons/variables.scss';
@import '../../00-protons/layout.scss';
@import '../../00-protons/global-classes.scss';
// Override any Bootstrap image vars here
@import '~bootstrap/scss/images';

// Custom general image behavior here
%image-small {
  float: none;
  height: auto;
  max-height: 70px;
  max-width: 130px;
  padding: 0;
}
.image-icon {
  margin-bottom: 20px;
}

.block-banner {
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
}

